In [1]:
from pathlib import Path
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from src.data.make_dataset import load_data
from src.features.transformations import clean_data
from src.features.analysis import close_rate, plot_close_ratio_over_months
sns.set_theme()

In [2]:
dataset_path = Path().absolute() / "../data/raw/AirlineQuotesData.xlsx"
raw_data = load_data(dataset_path, "Flight Duplicate Quotes")
data = clean_data(raw_data)

In [3]:
data[data.UserID == "USER_6"]

       QuoteID  UserID QuoteCreationDateTime FlightDate   Price  Sale_Flag
690  QUOTE_691  USER_6   2018-02-28 13:18:00 2018-02-28  314.10          0
692  QUOTE_693  USER_6   2018-02-28 14:04:00 2018-03-15  209.70          1
830  QUOTE_831  USER_6   2018-03-13 14:36:00 2018-03-30  271.46          1

In [5]:
raw_data.QuoteID

0          QUOTE_1
1          QUOTE_2
2          QUOTE_3
3          QUOTE_4
4          QUOTE_5
           ...
2147    QUOTE_2148
2148    QUOTE_2149
2149    QUOTE_2150
2150    QUOTE_2151
2151    QUOTE_2152
Name: QuoteID, Length: 2152, dtype: category
Categories (2152, object): ['QUOTE_1', 'QUOTE_10', 'QUOTE_100', 'QUOTE_1000', ..., 'QUOTE_996', 'QUOTE_997', 'QUOTE_998', 'QUOTE_999']